%h1 Empresas
%p Listado de empresas

- if @companys.any?
  %table{border: "1"}
    %tr
      %th Name
      %th Address
      %th City
      %th Phone      
    = render @companys
- else
  %em No hay ninguna empresa

%br

= link_to "Nueva empresa", new_company_path